@model IEnumerable<Prueba.Models.CobroTransito>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a class="btn btn-light mb-3"
           asp-action="Create">
            Registrar
        </a>
    </div>
    <div class="d-sm-flex align-items-center justify-content-around mb-4">
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Cobros en Tránsito
                    </h6>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-center"
                               id="dataTable"
                               width="100%"
                               cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FormaPago)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Monto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Fecha)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Concepto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Factura)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Recibo)
                                    </th>
                                    @* <th>
                                        @Html.DisplayNameFor(model => model.ValorDolar)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MontoRef)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SimboloMoneda)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SimboloRef)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Asignado)
                                    </th> *@
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdCondominioNavigation)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FormaPago)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Monto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Fecha)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Concepto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Factura)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Recibo)
                                        </td>
                                        @* <td>
                                            @Html.DisplayFor(modelItem => item.ValorDolar)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MontoRef)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SimboloMoneda)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SimboloRef)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Asignado)
                                        </td> *@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdCondominioNavigation.Nombre)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.IdCobroTransito">Editar</a> |
                                            <a asp-action="Details" asp-route-id="@item.IdCobroTransito">Detalles</a> |
                                            <a asp-action="Delete" asp-route-id="@item.IdCobroTransito">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


