@model Prueba.Models.Producto

@{
    ViewData["Title"] = "Details";

    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";

}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">

            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Productos y Servicios
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Nombre)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Precio)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Precio)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.TipoProducto)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.TipoProducto)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Descripcion)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Descripcion)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Disponible)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Disponible)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IdCondominioNavigation)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IdCondominioNavigation.IdCondominio)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IdRetencionIslrNavigation)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IdRetencionIslrNavigation.Concepto)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IdRetencionIvaNavigation)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IdRetencionIvaNavigation.Descripcion)
                                </dd>
                            </dl>
                            <div class="col-md-12">
                                <a asp-action="Edit" asp-route-id="@Model?.IdProducto" class="btn btn-primary">Editar</a>
                                <a asp-action="Index" class="btn btn-secondary">Volver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

