@model IEnumerable<Prueba.Models.CodigoCuentasGlobal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaldoInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClaseNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCondominioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCuentaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGrupoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSubCuentaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClaseNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCondominioNavigation.IdCondominio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCuentaNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGrupoNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSubCuentaNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCodCuenta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCodCuenta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCodCuenta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
