@using Prueba.ViewModels

@model RecibosCreadosVM
@{
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

@if (@ViewBag.Recibos == "Exitoso")
{
        <h3>Relacion de gastos y Recibos creados de fecha: @Model.RelacionGastos.Fecha</h3>

    <h4>Sub Total: @Model.RelacionGastos.SubTotal</h4>
    <h4>Total: @Model.RelacionGastos.Total</h4>
    
    @foreach (var recibo in Model.Recibos)
    {
        var propiedad = Model.Propiedades.Where(c => c.IdPropiedad == recibo.IdPropiedad).ToList();
        var propietario = Model.Propietarios.Where(c => c.Id == propiedad.FirstOrDefault().IdUsuario).ToList();
        var inmueble = Model.Inmuebles.Where(c => c.IdInmueble == propiedad.FirstOrDefault().IdInmueble).ToList();

        <p>Inmueble: @inmueble.FirstOrDefault().Nombre</p>
        <p>Propiedad: @propiedad.FirstOrDefault().Codigo</p>
        <p>Popietario: @propietario.FirstOrDefault().FirstName @propietario.FirstOrDefault().LastName</p>
        <p>Alicuota: @propiedad.FirstOrDefault().Alicuota %</p>
        <p>Deuda: @propiedad.FirstOrDefault().Deuda</p>
        <p>Monto a pagar: @recibo.Monto</p>
    }

}
else
{
    <h3>No se que paso aqui </h3>
    <p>@ViewBag.MsgError</p>
}

<a asp-action="Index">Aceptar</a>
