@using Prueba.ViewModels

@model DetalleReciboVM

<div class="table-responsive text-center" id="DetalleReciboTabla ">
    <table class="table text-center col-10 mx-auto" width="80%" cellpadding="0">
            <thead>
                <tr>
                    <th>Saldo Anterior</th>
                    <th>Saldo Mes Actual</th>
                    @if (Model.CuotasRecibosCobros.Count > 0)
                    {
                        @foreach (var cuotas in Model.CuotasRecibosCobros)
                        {
                            <th>
                                <div>
                                    @cuotas.CuotasEspeciale.Descripcion
                                </div>
                                
                                <div>
                                    Cuotas Por Pagar @cuotas.ReciboCuota.CuotasFaltantes
                                </div>
                            </th>
                        }
                    }
                    <th>Saldo Actual</th>
                </tr>
           </thead>
            <tbody>
                <tr class="tr_s">
                <td>@Model.Propiedad.Deuda.ToString("N2") Bs.</td>
                <td>@Model.Propiedad.Saldo.ToString("N2") Bs.</td>
                @{
                    decimal totalCuotasSubCuotas = 0;

                    if (Model.CuotasRecibosCobros.Count > 0)
                    {
                        foreach (var cuotas in Model.CuotasRecibosCobros)
                        {
                            if (cuotas.ReciboCuota.CuotasFaltantes != 0)
                            {
                                totalCuotasSubCuotas += (decimal)cuotas.ReciboCuota.SubCuotas;

                                <td>
                                    @(cuotas.ReciboCuota.SubCuotas.ToString("N2")) Bs.
                                </td>
                            }
                            else
                            {
                                <td>
                                    No posee deuda
                                </td>
                            }
                        }
                    }
                }
                
                <td>
                     @((Model.Propiedad.Deuda + Model.Propiedad.Saldo + totalCuotasSubCuotas).ToString("N2")) Bs.
                </td>

                </tr>
            </tbody>

    </table>
    <table class="table text-center"
           width="100%"
           cellspacing="0">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Monto</th>
                <th>Tasa de Cambio</th>
                <th>Monto Referencia</th>
                <th>Monto a Pagar</th>
            </tr>
        </thead>
        @*<tfoot>
            <tr class="tr_s">
                <th></th>
                <th>Sub Total: @Model.RelacionGastos.SubTotal.ToString("N") </th>
                <th>Total: @Model.RelacionGastos.Total.ToString("N") </th>
                <th></th>
                <th></th>

            </tr>
        </tfoot>*@
        <tbody>

            @if (Model.RelacionGastos.SubcuentasGastos != null && Model.RelacionGastos.SubcuentasGastos.Any()
            && Model.RelacionGastos.GastosDiario != null && Model.RelacionGastos.GastosDiario.Any()
            && Model.RelacionGastos.CCGastos != null && Model.RelacionGastos.CCGastos.Any())
            {
                @foreach (var item in Model.RelacionGastos.GastosDiario)
                {
                    var idcc = Model.RelacionGastos.CCGastos.Where(c => c.IdCodCuenta == item.IdCodCuenta);

                    if (idcc != null && idcc.Any())
                    {
                        var subcuenta = Model.RelacionGastos.SubcuentasGastos.Where(c => c.Id == idcc.First().IdSubCuenta).ToList();
                        <tr class="tr_s">
                            <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                            <td>@subcuenta.First().Descricion</td>
                            <td>@item.Monto.ToString("N") @item.SimboloMoneda</td>
                            <td>@item.ValorDolar.ToString("N")</td>
                            <td>@item.MontoRef.ToString("N") @item.SimboloRef</td>
                            <td>@((item.MontoRef * (Model.Propiedad.Alicuota / 100)).ToString("N"))</td>
                        </tr>
                    }   
                }
            }
            else
            {
                <tr class="tr_s">
                    <td class="text-bold-500">No</td>
                    <td>hay</td>
                    <td class="text-bold-500">Gastos</td>
                    <td>:D</td>
                    <td></td>
                </tr>
            }

            @if (Model.RelacionGastos.Provisiones != null && Model.RelacionGastos.Provisiones.Any()
            && Model.RelacionGastos.SubCuentasProvisiones != null && Model.RelacionGastos.SubCuentasProvisiones.Any()
            && Model.RelacionGastos.CCProvisiones != null && Model.RelacionGastos.CCProvisiones.Any())
            {
                @foreach (var provisiones in Model.RelacionGastos.Provisiones)
                {
                    var idcc = Model.RelacionGastos.CCProvisiones.Where(c => c.IdCodCuenta == provisiones.IdCodCuenta);
                    if (idcc != null && idcc.Any())
                    {
                        var subcuenta = Model.RelacionGastos.SubCuentasProvisiones.Where(c => idcc.First().IdSubCuenta == c.Id).ToList();

                        <tr class="tr_s">
                            <td></td>
                            <td>@subcuenta.First().Descricion</td>
                            <td>@provisiones.Monto.ToString("N") @provisiones.SimboloMoneda</td>
                            <td>@provisiones.ValorDolar.ToString("N")</td>
                            <td>@provisiones.MontoRef.ToString("N") @provisiones.SimboloRef</td>
                            <td>
                                @((provisiones.MontoRef * (Model.Propiedad.Alicuota / 100)).ToString("N"))
                                @*<a asp-action="Edit" asp-controller="Provisiones" asp-route-id="@provisiones.IdProvision">Editar</a> |
                    <a asp-action="Details" asp-controller="Provisiones" asp-route-id="@provisiones.IdProvision">Detalles</a> |
                    <a asp-action="Delete" asp-controller="Provisiones" asp-route-id="@provisiones.IdProvision">Eliminar</a>*@
                            </td>
                        </tr>
                    }
                    
                }

            }
            <tr>
                <th></th>
                <th>Sub Total </th>
                <th></th>
                <th></th>
                <th>@Model.RelacionGastos.SubTotal.ToString("N")</th>
                <th>@((Model.RelacionGastos.SubTotal * (Model.Propiedad.Alicuota / 100)).ToString("N"))</th>
            </tr>

            @if (Model.RelacionGastos.Fondos != null && Model.RelacionGastos.Fondos.Any()
            && Model.RelacionGastos.SubCuentasFondos != null && Model.RelacionGastos.SubCuentasFondos.Any()
            && Model.RelacionGastos.CCFondos != null && Model.RelacionGastos.CCFondos.Any())
            {
                @foreach (var fondo in Model.RelacionGastos.Fondos)
                {
                    var idcc = Model.RelacionGastos.CCFondos.Where(c => c.IdCodCuenta == fondo.IdCodCuenta).ToList();

                    if (idcc != null && idcc.Any())
                    {
                        var subcuenta = Model.RelacionGastos.SubCuentasFondos.Where(c => c.Id == idcc.First().IdSubCuenta).ToList();

                        <tr class="tr_s">
                            <td></td>

                            <th>@subcuenta.First().Descricion - @fondo.Porcentaje % </th>

                            <th> </th>
                            <th></th>
                            <th>@((Model.RelacionGastos.SubTotal * (int)fondo.Porcentaje / 100).ToString("N"))</th>
                            <th>
                                @(((Model.RelacionGastos.SubTotal * (int)fondo.Porcentaje / 100) * (Model.Propiedad.Alicuota / 100)).ToString("N"))
                                @*<a asp-action="Edit" asp-controller="Fondos" asp-route-id="@fondo.IdFondo">Editar</a> |
                                    <a asp-action="Details" asp-controller="Fondos" asp-route-id="@fondo.IdFondo">Detalles</a> |
                                    <a asp-action="Delete" asp-controller="Fondos" asp-route-id="@fondo.IdFondo">Eliminar</a>*@
                            </th>
                        </tr>
                    }                    

                }
            }

            
            <tr>
                <th></th>
                <th>Total gasto del mes </th>
                <th></th>
                <th></th>
                <th>@Model.RelacionGastos.Total.ToString("N")</th>
                <th> @((Model.RelacionGastos.Total * (Model.Propiedad.Alicuota / 100)).ToString("N")) </th>
            </tr>

        </tbody>
    </table>
</div>

