@model IEnumerable<Prueba.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumControl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEmision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abonado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnProceso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumControl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abonado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pagada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnProceso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedorNavigation.IdProveedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFactura">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFactura">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFactura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
