@model Prueba.Models.LdiarioGlobal

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}


<!-- Content Row -->
<div class="row">
    <div class="col-lg-12">
        <!-- Default Card Example -->
        <div class="card shadow mb-4 bg-content-bg">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    Libro Diario Global
                </h6>
            </div>
            <div class="card-body">
                <div class="form form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div>
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Fecha)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Fecha)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Concepto)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Concepto)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Monto)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Monto)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.TipoOperacion)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.TipoOperacion)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.NumAsiento)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.NumAsiento)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.IdCodCuentaNavigation)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.IdCodCuentaNavigation.IdCodCuenta)
                                    </dd>
                                </dl>
                            </div>
                            <div>
                                <a asp-action="Edit" asp-route-id="@Model?.IdAsiento">Editar</a> |
                                <a asp-action="LibroDiario">Volver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
