@model IEnumerable<Prueba.Models.PagoPropiedad>

@{
    ViewData["Title"] = "Pagos Confirmados";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a class="btn btn-light mb-3"
           asp-action="RegistrarPagosAdmin">
            Registrar
        </a>

    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Pagos Confirmados
                    </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-center"
                               id="dataTable"
                               width="100%"
                               cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdPagoNavigation.Fecha)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdPropiedadNavigation.Codigo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdPagoNavigation.FormaPago)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdPagoNavigation.Monto)
                                    </th>                                    
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdPagoNavigation.Fecha)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdPropiedadNavigation.Codigo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdPagoNavigation.FormaPago)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdPagoNavigation.Monto)
                                        </td>   
                                        @if (item.Activo)
                                        {
                                            <td>
                                                <a asp-action="ComprobantePDF" asp-route-id="@item.IdPagoPropiedad">PDF</a> |
                                                <a asp-action="SendCompPagoPropietario" asp-controller="Correo" asp-route-id="@item.IdPagoPropiedad">Correo</a> |
                                                <a>Eliminar</a>
                                            </td>
                                        } else
                                        {
                                            <td>
                                                Conciliado |
                                                <a asp-action="ComprobantePDF" asp-route-id="@item.IdPagoPropiedad">PDF</a>
                                            </td>
                                        }

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>