@model IEnumerable<Prueba.Models.NotaDebito>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdministrador.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumNotaDebito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concepto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abonado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumNotaDebito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concepto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abonado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedorNavigation.IdProveedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNotaDebito">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNotaDebito">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNotaDebito">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
