@model IndexCuentasContablesVM
@{
    ViewData["Title"] = "Cuentas Contables";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    @*<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Plan de Cuentas</h1>
    </div>*@
    <a class="btn btn-light mb-3" asp-controller="SubCuentas" asp-action="CrearSubCuenta">Crear Sub Cuenta</a>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                       Cuentas Contables
                    </h6>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered"
                               id="dataTable"
                               width="100%"
                               cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Código</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @if (@Model.SubCuentas.Count() > 0)
                                {
                                    for (int i = 0; i < @Model.Clases.Count(); i++)
                                    {
                                        <tr>
                                            <td>@(Model.Clases[i].Codigo+".0.00.00")</td>
                                            <td>@Model.Clases[i].Descripcion</td>
                                        </tr>
                                        for (int j = 0; j < @Model.Grupos.Count(); j++)
                                        {
                                            if (@Model.Grupos[j].IdClase == @Model.Clases[i].Id)
                                            {
                                                <tr>
                                                    <td>@(Model.Clases[i].Codigo+"."+Model.Grupos[j].Codigo+".00.00")</td>
                                                    <td> &nbsp; <i class="text-s-1 bi bi-arrow-return-right"></i> @Model.Grupos[j].Descripcion</td>
                                                </tr>
                                                for (int k = 0; k < @Model.Cuentas.Count(); k++)
                                                {
                                                    if (@Model.Cuentas[k].IdGrupo == @Model.Grupos[j].Id)
                                                    {
                                                        <tr>
                                                            <td>@(Model.Clases[i].Codigo+"."+Model.Grupos[j].Codigo+"."+Model.Cuentas[k].Codigo+".00")</td>
                                                            <td> &nbsp; &nbsp; &nbsp; <i class="text-s-2 bi bi-arrow-return-right"></i> @Model.Cuentas[k].Descripcion</td>
                                                        </tr>
                                                        for (int z = 0; z < @Model.SubCuentas.Count(); z++)
                                                        {
                                                            if (@Model.SubCuentas[z].IdCuenta == @Model.Cuentas[k].Id)
                                                            {
                                                                <tr>
                                                                    <td>@(Model.Clases[i].Codigo+"."+Model.Grupos[j].Codigo+"."+Model.Cuentas[k].Codigo+"."+Model.SubCuentas[z].Codigo)</td>
                                                                    <td> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <i class="text-s-3 bi bi-arrow-return-right"></i> @Model.SubCuentas[z].Descricion</td>
                                                                    <td>
                                                                        <a asp-action="Edit" asp-route-id="@Model.SubCuentas[z].Id">Editar</a> |
                                                                        <a asp-action="Details" asp-route-id="@Model.SubCuentas[z].Id">Detalles</a> |
                                                                        <a asp-action="Delete" asp-route-id="@Model.SubCuentas[z].Id">Eliminar</a>
                                                                    </td>
                                                                </tr>

                                                            }
                                                            continue;
                                                        }
                                                    }
                                                    continue;
                                                }
                                            }
                                            continue;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



        </div>



    </div>
</div>