@model LibroDiarioVM
@{
    ViewData["Title"] = "Libro Diario";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}


<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        @*<h1 class="h3 mb-0 text-gray-800">Libro Diario</h1>*@
        <a href="#"
           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generar
            Informe
        </a>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Libro Diario.
                    </h6>
                </div>
                <div class="card-body">
                    <form class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="card-body">

                                        <div class="table-responsive text-center pb-3">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th class="text-danger">Total Debe: @(Model.TotalDebe.ToString("N"))</th>
                                                        <th class="text-success">Total Haber: @(Model.TotalHaber.ToString("N"))</th>
                                                        <th>Diferencia: @(Model.Diferencia.ToString("N"))</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="text-center table table-bordered"
                                                   id="dataTable"
                                                   width="100%"
                                                   cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Asiento</th>
                                                        <th>Fecha</th>
                                                        <th>Código</th>
                                                        <th>Descripción</th>
                                                        <th>Concepto</th>
                                                        <th class="text-danger">Debe</th>
                                                        <th class="text-success">Haber</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>Asiento</th>
                                                        <th>Fecha</th>
                                                        <th>Código</th>
                                                        <th>Descripción</th>
                                                        <th>Concepto</th>
                                                        <th class="text-danger">Debe</th>
                                                        <th class="text-success">Haber</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>

                                                    @foreach (var asiento in Model.AsientosCondominio)
                                                    {
                                                        var subcuenta = Model.CuentasDiarioCondominio.Where(c => c.Id == asiento.IdCodCuenta).ToList();
                                                        var cuenta = Model.Cuentas.Where(c => c.Id == subcuenta.First().IdCuenta).ToList();
                                                        var grupo = Model.Grupos.Where(c => c.Id == cuenta.First().IdGrupo).ToList();
                                                        var clase = Model.Clases.Where(c => c.Id == grupo.First().IdClase).ToList();

                                                        if (asiento.IdCodCuenta == subcuenta.First().Id)
                                                        {
                                                            <tr>
                                                                <td>@asiento.NumAsiento</td>
                                                                <td class="text-bold-500">@asiento.Fecha.ToString("dd/MM/yyyy")</td>
                                                                <td>@(clase.First().Codigo + "." + grupo.First().Codigo + "." + cuenta.First().Codigo + "." + subcuenta.First().Codigo)</td>
                                                                <td class="text-bold-500">@subcuenta.First().Descricion</td>
                                                                <td class="text-bold-500">@asiento.Concepto</td>
                                                                @if (asiento.TipoOperacion)
                                                                {
                                                                    <td class="text-bold-500">@(asiento.Monto.ToString("N"))</td>
                                                                    <td class="text-bold-500"></td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="text-bold-500"></td>
                                                                    <td class="text-bold-500">@(asiento.Monto.ToString("N"))</td>
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

