@model RelacionDeGastosVM
@{
    ViewData["Title"] = "Relación de Gastos";

}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Relación de Gastos</h1>
        <a href="#"
           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> PDF
        </a>
        <a asp-action="GenerarReciboCobro"
           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generar
            Recibo de Cobro
        </a>
        <a asp-action="CrearFondo"
           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i>
            Agregar Fondo
        </a>
        <a asp-action="CrearProvision"
           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i>
            Agregar Provisión
        </a>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Relación de Gastos.
                    </h6>
                </div>
                <div class="card-body">
                    <form class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="card-body">

                                        <div class="table-responsive text-center pb-3">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Sub Total: @Model.SubTotal</th>
                                                        <th>Total: @Model.Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="text-center table table-bordered"
                                                   id="dataTable"
                                                   width="100%"
                                                   cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Descripción</th>
                                                        <th>USD</th>
                                                        <th>Tasa</th>
                                                        <th>Bs</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>Descripción</th>
                                                        <th>USD</th>
                                                        <th>Tasa</th>
                                                        <th>Bs</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    @if ((Model.SubcuentasGastos != null && Model.SubcuentasGastos.Any()) && (Model.GastosDiario != null && Model.GastosDiario.Any()))
                                                    {
                                                        @foreach (var item in Model.GastosDiario)
                                                        {
                                                            var subcuenta = Model.SubcuentasGastos.Where(c => c.Id == item.IdCodCuenta).ToList();
                                                            <tr>
                                                                <td class="text-bold-500">@subcuenta.FirstOrDefault().Descricion</td>
                                                                <th>$$$$$$$$$</th>
                                                                    <th>BCV</th>
                                                                <td>@item.Monto</td>
                                                            </tr>
                                                        }

                                                        if (Model.Provisiones != null && Model.Provisiones.Any())
                                                        {
                                                            foreach (var provisiones in Model.Provisiones)
                                                            {
                                                                var subcuenta = Model.SubCuentasProvisiones.Where(c => provisiones.IdCodCuenta == c.Id).ToList();
                                                                <tr>
                                                                    <th>@subcuenta.FirstOrDefault().Descricion</th>
                                                                    <th>$$$$$$$$$</th>
                                                                    <th>BCV</th>
                                                                    <th>@provisiones.Monto</th>
                                                                </tr>
                                                            }

                                                        }

                                                        if (Model.Fondos != null && Model.Fondos.Any())
                                                        {
                                                            foreach (var fondo in Model.Fondos)
                                                            {
                                                                var subcuenta = Model.SubCuentasFondos.Where(c => fondo.IdCodCuenta == c.Id).ToList();
                                                                <tr>
                                                                    <th>@subcuenta.FirstOrDefault().Descricion - @fondo.Porcentaje % </th>
                                                                    <th>$$$$$$$$$</th>
                                                                    <th>BCV</th>
                                                                    <th>@(Model.SubTotal * fondo.Porcentaje / 100)</th>
                                                                </tr>

                                                            }

                                                        }

                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="text-bold-500">NO</td>
                                                            <td>HAY</td>
                                                            <td class="text-bold-500">GASTOS</td>
                                                            <td>:D</td>
                                                        </tr>
                                                    }
                                                </tbody>                                                
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
