@model Prueba.Models.ComprobanteRetencionCliente

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdministrador.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">

            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Comprobante Retención Cliente
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.FechaEmision)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.FechaEmision)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Description)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Retencion)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Retencion)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Sustraendo)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Sustraendo)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ValorRetencion)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ValorRetencion)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.TotalImpuesto)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.TotalImpuesto)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IdClienteNavigation)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IdFacturaNavigation)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IdFacturaNavigation.IdFacturaEmitida)
                                </dd>
                            </dl>
                            <div class="col-md-12">
                                <a asp-action="Edit" asp-route-id="@Model?.IdComprobanteCliente" class="btn btn-primary">Editar</a>
                                <a asp-action="Index" class="btn btn-secondary">Volver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
