@model IEnumerable<Prueba.Models.AnticipoNomina>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";

}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a class="btn btn-light mb-3" asp-controller="AnticipoNominas"
           asp-action="RegistrarAnticipoNomina">
            Registrar
        </a>
        <a class="btn btn-light mb-3"
           asp-action="Index" asp-controller="Empleados">
            Volver
        </a>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Anticipos Nomina
                    </h6>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-center"
                               id="dataTable"
                               width="100%"
                               cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Monto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Fecha)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Activo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Monto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Fecha)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Activo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.Nombre)
                                        </td>
                                        @if (item.Activo)
                                        {
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.IdAnticipoNomina">Editar</a> |
                                                <a asp-action="Details" asp-route-id="@item.IdAnticipoNomina">Detalles</a> |
                                                <a asp-action="Delete" asp-route-id="@item.IdAnticipoNomina">Eliminar</a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>Conciliado</td>
                                        }

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

