@model Prueba.ViewModels.OrdenPagoVM

@{
    ViewData["Title"] = "Pagos";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    @*    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Registrar Pagos</h1>
    </div>*@

    <!-- Content Row -->
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Reporte aquí los Pagos
                    </h6>
                </div>
                <div class="card-body">

                    @if (Model.SubCuentasBancos != null
                    && Model.SubCuentasBancos.Count > 0
                    && Model.SubCuentasCaja != null
                    && Model.SubCuentasCaja.Count > 0
                    && Model.SubCuentasGastos != null
                    && Model.SubCuentasGastos.Count > 0)
                    {
                        <!-- Inicio -->

                        <form class="form form-horizontal" asp-action="ConfirmarPago">
                            @if (@ViewBag.FormaPago == "fallido")
                            {
                                <h6>@ViewBag.Mensaje</h6>
                                <hr />
                            }
                            <div class="form-body">
                                <div class="row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <!-- Proveedor -->
                                    <div class="col-md-6 col-12">
                                        <div class="form-group has-icon-left mandaory">
                                            <label for="last-name-column">Proveedor</label>
                                            <div class="position-relative">
                                                <fieldset class="form-group">
                                                    <select class="form-select" id="proveedorSelect" asp-for="IdProveedor">
                                                        <option value="">Seleccione un proveedor</option>
                                                        @foreach (var factura in Model.Proveedor)
                                                        {
                                                            <option value="@factura.Value">@factura.Text</option>
                                                        }
                                                    </select>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Monto -->
                                    <div class="col-md-6 col-12">
                                        <div class="form-group has-icon-left mandaory">
                                            <label for="last-name-column">Monto</label>
                                            <span asp-validation-for="Pago.Monto" class="text-danger"></span>
                                            <span id="validatonMonto" class="text-danger"></span>
                                            <div class="position-relative">
                                                @* <input id="montoInput" type="number" asp-for="Monto" class="form-control" /> *@
                                                <input asp-for="@Model.Pago.Monto" class="form-control" />
                                                @* <input type="number"
                                            class="form-control"
                                            placeholder="Monto"
                                            asp-for="Monto" /> *@
                                                <div class="form-control-icon">
                                                    <i class="bi bi-person"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fecha -->
                                    <div class="col-md-6 col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="last-name-column">Fecha</label>
                                            <span asp-validation-for="Pago.Fecha" class="text-danger"></span>

                                            <div class="position-relative">
                                                <input class="form-control"
                                                       placeholder="Fecha"
                                                       id="first-name-icon"
                                                       required
                                                       value="@DateTime.Today"
                                                       asp-for="Pago.Fecha" />
                                                <div class="form-control-icon">
                                                    <i class="bi bi-calendar-date"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Subcuentas -->
                                    <div class="col-md-6 col-12">
                                        <div class="form-group has-icon-left mandaory">
                                            <label for="last-name-column">Sub Cuentas</label>
                                            <div class="position-relative">
                                                <fieldset class="form-gro up">
                                                    <select class="form-select" id="basicSelect"
                                                            asp-for="IdSubcuenta" asp-items="Model.SubCuentasGastos">
                                                        <option value="">Seleccione la Sub Cuenta a pagar</option>
                                                    </select>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Concepto -->
                                    <div class="col-md-6 col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="last-name-column">Concepto</label>
                                            <span asp-validation-for="Concepto" class="text-danger"></span>

                                            <div class="position-relative">
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Concepto"
                                                       id="concepto"
                                                       required
                                                       asp-for="Concepto" />
                                                <div class="form-control-icon">
                                                    <i class="bi bi-building"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-12">
                                        <div class="form-group has-icon-left mandaory">
                                            <label for="last-name-column">Método de Pago</label>
                                            <div class="position-relative">
                                                <div class="tab-area">

                                                    <div class="col-sm-5">

                                                        <select asp-for="Pagoforma" id='mySelect' class="form-select nav-tabs-selector">

                                                            <option value="0">
                                                                Efectivo
                                                            </option>
                                                            <option value="1">
                                                                Transferencia
                                                            </option>
                                                        </select>
                                                    </div>

                                                    <ul class="nav nav-tabs mt-3" id="myTab">
                                                        <li class="active"><a href="#home"></a></li>
                                                        <li><a href="#profile"></a></li>
                                                        <li><a href="#messages"></a></li>
                                                        <li><a href="#settings"></a></li>
                                                    </ul>

                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="home">
                                                            <!-- Efectivo -->
                                                            <div class="card-body">
                                                                <div class="form form-horizontal">
                                                                    <div class="form-body">
                                                                        <div class="row">

                                                                            <!-- Tipo de Banco -->
                                                                            <div class="col-md-12 col-12">
                                                                                <div class="form-group has-icon-left mandaory">
                                                                                    @*                                                                        <label for="last-name-column">Banco</label>*@
                                                                                    <div class="position-relative">
                                                                                        <fieldset class="form-group">
                                                                                            <select asp-for="IdCodigoCuentaCaja"
                                                                                                    asp-items="Model.SubCuentasCaja"
                                                                                                    class="form-select" id="basicSelect">
                                                                                                <option value="0">Seleccione un tipo de efectivo</option>
                                                                                            </select>
                                                                                        </fieldset>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="profile">
                                                            <!-- Transferencia -->
                                                            <div class="card-body">
                                                                <div class="form form-horizontal">
                                                                    <div class="form-body">
                                                                        <div class="row">
                                                                            <!-- Pago Emitido -->
                                                                            <div class="col-md-6 col-12">
                                                                                <div class="form-group has-icon-left">
                                                                                    <label for="last-name-column">Número de Referencia</label>
                                                                                    <div class="position-relative">
                                                                                        <input type="number" class="form-control"
                                                                                               placeholder="Referencia" id="first-name-icon" required=""
                                                                                               asp-for="NumReferencia">
                                                                                        <div class="form-control-icon">
                                                                                            <i class="bi bi-credit-card"></i>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- Tipo de Banco -->
                                                                            <div class="col-md-6 col-12">
                                                                                <div class="form-group has-icon-left mandaory">
                                                                                    <label for="last-name-column">Banco</label>
                                                                                    <div class="position-relative">
                                                                                        <fieldset class="form-group">
                                                                                            <select asp-for="IdCodigoCuentaBanco"
                                                                                                    asp-items="Model.SubCuentasBancos"
                                                                                                    class="form-select" id="basicSelect">
                                                                                                <option value="0">Seleccione un banco</option>
                                                                                            </select>
                                                                                        </fieldset>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="tab-pane" id="messages">
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit"
                                                class="btn btn-primary me-1 mb-1">
                                            Enviar
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <h3>No se ha podido cargar el Formulario!</h3>

                        <p> Registre sub-cuentas en Bancos y Caja. Contabilidad > Plan de Cuentas > Registrar SubCuenta </p>
                        <p> Registre Monedas. Configuración > Monedas > Registrar </p>
                        <p> Asigne una Moneda a las cuentas de Caja y Banco. Configuración > Cuentas > Registrar </p>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
</div>
<!-- /.container-fluid -->
