@using Prueba.ViewModels

@model ComprobanteCEVM

<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        @*<h1 class="h3 mb-0 text-gray-800">Comprobante</h1>*@
    </div>
    <div class="d-sm-flex align-items-center justify-content-around mb-4">
        @*         <a type="button" id="create_pdf" value="Generate PDF" href="#" class="d-sm-inline-block btn btn-sm btn-danger shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generar
        PDF
        </a> *@
@*         <button type="button" class="d-sm-inline-block btn btn-sm btn-danger shadow-sm" id="ComprobantePDF">Crear pdf</button>
 *@
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-6 mb-4">


            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Comprobante
                    </h6>

                </div>
                <div class="card-body">
                    <div class="form row text-center">

                        <div class="form-group has-icon-left">
                            <div class="position-relative">

                                <h3>Condominio</h3>
                                @if (Model.Condominio != null
                                && Model.Propiedad != null)
                                {
                                    <p><strong>Condominio</strong>: @Model.Condominio.Nombre</p>
                                    <p><strong>Cuota Especial</strong>: @Model.CuotasEspeciale.Descripcion</p>
                                    <p><strong>Propiedad</strong>: @Model.Propiedad.Codigo</p>
                                    @if (Model.Abonado != 0)
                                    {
                                        <p><strong>Monto extra abonado</strong>: @Model.Abonado Bs</p>
                                    }
                                    if (Model.Restante != 0)
                                    {
                                        <p><strong>Faltante por pagar</strong>: @Model.Restante Bs</p>
                                    }
                                }
                            </div>
                        </div>




                        <div class="form-group has-icon-left">
                            <div class="position-relative">

                                @if (Model.PagoReciboCuota != null)
                                {

                                    @if ((bool)Model.PagoReciboCuota.FormaPago && Model.Referencias != null)
                                    {
                                        <h3>Transferencia</h3>
                                        <p><strong>Fecha</strong>: @Model.PagoReciboCuota.Fecha?.ToString("dd/MM/yyyy")</p>

                                        <p><strong>Cuenta</strong>: @Model.Referencias.Banco</p>
                                        <p><strong>Referencia</strong>: @Model.Referencias.NumReferencia</p>
                                        <p><strong>Monto</strong>: @(Model.PagoReciboCuota.Monto?.ToString("N"))</p>
                                        <p><strong>Fecha de comprobante</strong>: @DateTime.Today.ToString("dd/MM/yyyy")</p>
                                    }
                                    else
                                    {
                                        <h3>Efectivo</h3>
                                        <p><strong>Monto</strong>: @(Model.PagoReciboCuota.Monto?.ToString("N"))</p>
                                        <p><strong>Fecha de comprobante</strong>: @(DateTime.Today.ToString("dd/MM/yyyy"))</p>
                                    }
                                }


                            </div>
                        </div>

                    </div>

                </div>

                <div class="text-center mb-4">
                    <h4 class="text-center">@Model.Mensaje</h4>

                    <a asp-action="DashboardUsuario"
                       class="btn btn-primary me-1 mb-1">
                        Finalizar
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>
