@model ComprobanteVM

<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-center mb-4">
        @*<h1 class="h3 mb-0 text-gray-800">Comprobante</h1>*@
    </div>


    <div class="row justify-content-center">
        <div class="col-lg-6 mb-4">


            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Comprobante
                    </h6>

                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-6 col-12">
                            <div class="form-group has-icon-left">
                                <div class="position-relative">

                                    <h3>Condominio</h3>
                                    @if (Model.Condominio != null
                                    && Model.Inmueble != null
                                    && Model.Propiedad != null)
                                    {
                                        <p><strong>Condominio</strong>: @Model.Condominio.Nombre</p>
                                        <p><strong>Inmueble</strong>: @Model.Inmueble.Nombre</p>
                                        <p><strong>Propiedad</strong>: @Model.Propiedad.Codigo</p>
                                    }

                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 col-12">
                            <div class="form-group has-icon-left">
                                <div class="position-relative">

                                    @if (Model.PagoRecibido != null)
                                    {

                                        @if (Model.PagoRecibido.FormaPago
                                       && Model.Referencias != null)
                                        {
                                            <h3>Transferencia</h3>
                                            <p><strong>Fecha</strong>: @Model.PagoRecibido.Fecha.ToString("dd/MM/yyyy")</p>

                                            <p><strong>Cuenta</strong>: @Model.Referencias.Banco</p>
                                            <p><strong>Referencia</strong>: @Model.Referencias.NumReferencia</p>
                                            <p><strong>Monto</strong>: @(Model.PagoRecibido.Monto.ToString("N"))</p>
                                            <p><strong>Fecha de comprobante</strong>: @DateTime.Today.ToString("dd/MM/yyyy")</p>
                                        }
                                        else
                                        {
                                            <h3>Efectivo</h3>
                                            <p><strong>Monto</strong>: @(Model.PagoRecibido.Monto.ToString("N"))</p>
                                            <p><strong>Fecha de comprobante</strong>: @(DateTime.Today.ToString("dd/MM/yyyy"))</p>
                                        }
                                    }

                                    <h4 class="text-center">@Model.Mensaje</h4>

                                </div>
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-end">
                            <a asp-action="RegitrarPagos"
                                    class="btn btn-primary me-1 mb-1">
                                Realizar otro pago
                            </a>
                            <a asp-action="DashboardUsuario"
                                    class="btn btn-primary me-1 mb-1">
                                Finalizar
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
