@model Dictionary<Propiedad, List<ReciboCobro>>

@{
    ViewData["Title"] = "Historial";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-start">
        <h1 class="h3 mb-0 text-gray-800">Recibos</h1>
    </div>
    <div class="d-sm-flex align-items-center justify-content-around mb-4">
        <a type="button" id="create_pdf" value="Generate PDF" href="#" class="d-sm-inline-block btn btn-sm btn-danger shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generar
            PDF
        </a>
        <a onclick="exportTableToExcel('tblData')" type="button" href="#" class="d-sm-inline-block btn btn-sm btn-success shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generar
            Excel
        </a>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Illustrations -->
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Verifique el estado de sus recibos
                    </h6>

                </div>
                <div class="card-body">
                    <div id="tblData" class="table-responsive">
                        @if (Model.Count() > 0)
                        {
                            <table class="table table-bordered form"
                               id="dataTable"
                               width="100%"
                               cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Propiedad</th>
                                        <th>Fecha</th>
                                        <th>Monto</th>
                                        <th>Numero Relación de Gastos</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Propiedad</th>
                                        <th>Fecha</th>
                                        <th>Monto</th>
                                        <th>Numero Relación de Gastos</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>

                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        @if (item.Value.Count() > 0)
                                        {
                                            @foreach (var recibo in item.Value)
                                            {
                                                <tr>
                                                    <th>@item.Key.Codigo</th>
                                                    <td>@recibo.Fecha</td>
                                                    <td>@recibo.Monto</td>
                                                    <td>@recibo.IdRgastos</td>
                                                    @if (@recibo.EnProceso)
                                                    {
                                                        <td>En proceso</td>
                                                    }
                                                    else if (recibo.Pagado)
                                                    {
                                                        <td>Pagado</td>
                                                    }
                                                    else
                                                    {
                                                        <td>En deuda</td>
                                                    }
                                                    <td><a href="#" class="btn btn-primary">Detalles</a></td>
                                                </tr>

                                            }

                                        }
                                        else
                                        {
                                            <tr>
                                                <td>No</td>
                                                <td>Hay</td>
                                                <td>Recibos</td>
                                                <td>En esta propiedad</td>
                                                <td>:D</td>
                                                <td>:D</td>
                                            </tr>

                                        }

                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <h3>Pero qué ha pasao :O</h3>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Recibos</h1>
        <a type="button" id="create_pdf" value="Generate PDF" href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generar
            PDF
        </a>
        <a onclick="exportTableToExcel('tblData')" type="button" href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generar
            Excel
        </a>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Verifique el estado de sus recibos
                    </h6>

                </div>
                <div class="card-body">
                    <div id="tblData" class="table-responsive">
                        @if (Model.Count() > 0)
                        {


                            <table class="table table-bordered form"
                               id="dataTable"
                               width="100%"
                               cellspacing="0">


                                <thead>
                                    <tr>
                                        <th>Propiedad</th>
                                        <th>Fecha</th>
                                        <th>Monto</th>
                                        <th>Numero Relación de Gastos</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="tr_s">
                                            <th>@item.Key.Codigo</th>
                                            @if (item.Value.Count() > 0)
                                            {
                                                @foreach (var recibo in item.Value)
                                                {
                                                    <td>@recibo.Fecha</td>
                                                    <td>@recibo.Monto</td>
                                                    <td>@recibo.IdRgastos</td>
                                                    @if (@recibo.EnProceso)
                                                    {
                                                        <td>En proceso</td>
                                                    }
                                                    else if (recibo.Pagado)
                                                    {
                                                        <td>Pagado</td>
                                                    }
                                                    else
                                                    {
                                                        <td>En deuda</td>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <td>No</td>
                                                <td>Hay</td>
                                                <td>Recibos</td>
                                                <td>En esta propiedad</td>
                                            }


                                        </tr>
                                    }
                                </tbody>
                                <div>
                                </div>

                            </table>

                        }
                        else
                        {
                            <h3>Pero qué ha pasao :O</h3>
                        }

                    </div>




                </div>
            </div>
        </div>
    </div>
</div>
*@

@*PDF Configuración*@
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<script>
    (function () {
        var
            form = $('.form'),
            cache_width = form.width(),
            a3 = [820, 897]; // for a4 size paper width and height
        //  a4 = [595.28, 841.89];
        // Tamaños Hojas y tamaño alto y ancho del contenido


        $('#create_pdf').on('click', function () {
            $('body').scrollTop(0);
            createPDF();
        });
        //create pdf
        function createPDF() {
            getCanvas().then(function (canvas) {
                var
                    img = canvas.toDataURL("image/png"),
                    doc = new jsPDF({
                        unit: 'px',
                        format: 'a3'
                    });

                doc.setFontSize(22)
                doc.text(20, 40, 'Recibos')
                doc.setLineWidth(0.7)
                doc.line(20, 45, 80, 45)


                doc.addImage(img, 'JPEG', 20, 60); // xx Margen left, xx Margen Top
                // Nombre documento
                doc.save('Recibos.pdf');
                form.width(cache_width);
            });
        }



        // create canvas object
        function getCanvas() {
            form.width((a3[0] * 1.33333) - 80).css('max-width', 'none');
            return html2canvas(form, {
                imageTimeout: 2000,
                removeContainer: true
            });
        }

    }());
</script>
<script>
    /*
    * jQuery helper plugin for examples and tests
    */
    (function ($) {
        $.fn.html2canvas = function (options) {
            var date = new Date(),
                $message = null,
                timeoutTimer = false,
                timer = date.getTime();
            html2canvas.logging = options && options.logging;
            html2canvas.Preload(this[0], $.extend({
                complete: function (images) {
                    var queue = html2canvas.Parse(this[0], images, options),
                        $canvas = $(html2canvas.Renderer(queue, options)),
                        finishTime = new Date();

                    $canvas.css({ position: 'absolute', left: 0, top: 0 }).appendTo(document.body);
                    $canvas.siblings().toggle();

                    $(window).click(function () {
                        if (!$canvas.is(':visible')) {
                            $canvas.toggle().siblings().toggle();
                            throwMessage("Canvas Render visible");
                        } else {
                            $canvas.siblings().toggle();
                            $canvas.toggle();
                            throwMessage("Canvas Render hidden");
                        }
                    });
                    throwMessage('Screenshot created in ' + ((finishTime.getTime() - timer) / 1000) + " seconds<br />", 4000);
                }
            }, options));

            function throwMessage(msg, duration) {
                window.clearTimeout(timeoutTimer);
                timeoutTimer = window.setTimeout(function () {
                    $message.fadeOut(function () {
                        $message.remove();
                    });
                }, duration || 2000);
                if ($message)
                    $message.remove();
                $message = $('<div ></div>').html(msg).css({
                    margin: 0,
                    padding: 10,
                    //background: "#000",
                    //opacity: 0.7,
                    position: "fixed",
                    top: 10,
                    right: 10,
                    fontFamily: 'Tahoma',
                    //color: '#fff',
                    fontSize: 12,
                    borderRadius: 12,
                    width: 'auto',
                    height: 'auto',
                    textAlign: 'center',
                    textDecoration: 'none'
                }).hide().fadeIn().appendTo('body');
            }
        };
    })(jQuery);

</script>



<script>
    function exportTableToExcel(tableID, filename = '') {
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

        // Specify file name
        filename = filename ? filename + '.xls' : 'Recibos.xls';

        // Create download link element
        downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if (navigator.msSaveOrOpenBlob) {
            var blob = new Blob(['ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    }
</script>
