@model Dictionary<Propiedad, List<ReciboCobro>>

@{
    ViewData["Title"] = "Historial";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        @*<h1 class="h3 mb-0 text-gray-800">Recibos</h1>*@
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Illustrations -->
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Verifique el estado de sus recibos
                    </h6>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        @if (Model.Count() > 0)
                        {
                            <table class="table table-bordered"
                               id="dataTable"
                               width="100%"
                               cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Nr Relación de Gastos</th>
                                        <th>Propiedad</th>
                                        <th>Fecha</th>
                                        <th>Monto</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Nr Relación de Gastos</th>
                                        <th>Propiedad</th>
                                        <th>Fecha</th>
                                        <th>Monto</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>

                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        @if (item.Value.Count() > 0)
                                        {
                                            @foreach (var recibo in item.Value)
                                            {
                                                <tr>
                                                    <td>@recibo.IdRgastos</td>
                                                    <th>@item.Key.Codigo</th>
                                                    <td>@(recibo.Fecha.ToString("dd/MM/yyyy"))</td>
                                                    <td>@(recibo.Monto.ToString("N"))</td>
                                                    @if (@recibo.EnProceso)
                                                    {
                                                        <td>En proceso</td>
                                                    }
                                                    else if (recibo.Pagado)
                                                    {
                                                        <td>Pagado</td>
                                                    }
                                                    else
                                                    {
                                                        <td>En deuda</td>
                                                    }
                                                    <td>
                                                        <a asp-route-id="@recibo.IdRgastos" asp-action="DetalleRecibo" class="btn btn-primary">Detalles</a>
                                                    </td>
                                                </tr>

                                            }

                                        }
                                        else
                                        {
                                            <tr>
                                                <td>No</td>
                                                <td>Hay</td>
                                                <td>Recibos</td>
                                                <td>En esta propiedad</td>
                                                <td>:D</td>
                                                <td>:D</td>
                                            </tr>

                                        }

                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <h3>Pero qué ha pasao :O</h3>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="col-md-6 col-12">
    <div class="card">

        <div class="card-content">
            <div class="card-body">

                <!-- Button trigger for scrolling content modal -->
                <button type="button"
                        class="btn btn-outline-success"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModalScrollable">
                    Launch demo modal
                </button>

                <!--scrolling content Modal -->
                <div class="modal fade"
                     id="exampleModalScrollable"
                     tabindex="-1"
                     role="dialog"
                     aria-labelledby="exampleModalScrollableTitle"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable"
                         role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="exampleModalScrollableTitle">
                                    Scrolling long Content
                                </h5>
                                <button type="button"
                                        class="close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close">
                                    <i data-feather="x"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Biscuit powder jelly beans. Lollipop candy canes
                                    croissant icing chocolate cake. Cake fruitcake
                                    powder pudding pastry
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button"
                                        class="btn btn-light-secondary"
                                        data-bs-dismiss="modal">
                                    <i class="bx bx-x d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Close</span>
                                </button>
                                <button type="button"
                                        class="btn btn-primary ml-1"
                                        data-bs-dismiss="modal">
                                    <i class="bx bx-check d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Accept</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
