@model IEnumerable<Prueba.Models.GrupoGasto>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdministrador.cshtml";
}


<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        @*<h1 class="h3 mb-0 text-gray-800">Pagos Emitidos</h1>*@
        <a class="btn btn-light mb-3" asp-controller="Condominios"
           asp-action="Create">
            Registrar
        </a>
    </div>
    <div class="d-sm-flex align-items-center justify-content-around mb-4">
        @*         <a type="button" id="create_pdf" value="Generate PDF" href="#" class="d-sm-inline-block btn btn-sm btn-danger shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generar
        PDF
        </a> *@
        @* <button type="button" class="d-sm-inline-block btn btn-sm btn-danger shadow-sm" id="PagosEmitidos">Crear pdf</button> *@

        @* <a value="Export" onclick="fnExcelReport();" class="d-sm-inline-block btn btn-sm btn-success shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generar
        Excel
        </a> *@
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Grupos Gastos
                    </h6>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NumGrupo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NombreGrupo)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumGrupo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NombreGrupo)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.IdGrupoGasto">Editar</a> |
                                            <a asp-action="Details" asp-route-id="@item.IdGrupoGasto">Detalles</a> |
                                            <a asp-action="Delete" asp-route-id="@item.IdGrupoGasto">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

