@model Prueba.Models.CompRetIvaCliente

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdministrador.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CompRetIvaCliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEmision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEmision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoTransaccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoTransaccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumFacturaAfectada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumFacturaAfectada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCompraIva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCompraIva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompraSinCreditoIva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompraSinCreditoIva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseImponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseImponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alicuota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alicuota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpIva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpIva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IvaRetenido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IvaRetenido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCompraRetIva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCompraRetIva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFacturaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFacturaNavigation.IdFacturaEmitida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNotaCreditoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNotaCreditoNavigation.IdNotaCredito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNotaDebitoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNotaDebitoNavigation.IdNotaDebito)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdComprobanteIva">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
