@model Prueba.Models.MonedaCuenta

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MonedaCuenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecibePagos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecibePagos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCodCuentaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCodCuentaNavigation.IdCodCuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMonedaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMonedaNavigation.IdMoneda)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
