@model Prueba.Models.Fondo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">

            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Fondos
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div>
                                    <dl class="row">
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.Porcentaje)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.Porcentaje)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.FechaInicio)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.FechaInicio)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.FechaFin)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.FechaFin)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.IdCodCuentaNavigation)
                                        </dt>
                                        <dd class="col-sm-5">
                                            @Html.DisplayFor(model => model.IdCodCuentaNavigation.IdCodCuenta)
                                        </dd>
                                    </dl>
                                </div>
                                <div>
                                    <a asp-action="Edit" asp-route-id="@Model?.IdFondo">Editar</a>
                                    <a asp-controller="RelacionGastos" asp-action="RelaciondeGastos" class="btn btn-secondary">Volver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
