@model IEnumerable<Prueba.Models.Propiedad>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";

}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a class="btn btn-light mb-3" asp-controller="Propiedades"
           asp-action="Inquilino">
            Registrar
        </a>
    </div>
    <div class="d-sm-flex align-items-center justify-content-around mb-4">
        @*         <a type="button" id="create_pdf" value="Generate PDF" href="#" class="d-sm-inline-block btn btn-sm btn-danger shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generar
        PDF
        </a> *@
        @* <button type="button" class="d-sm-inline-block btn btn-sm btn-danger shadow-sm" id="PagosEmitidos">Crear pdf</button> *@

        @* <a value="Export" onclick="fnExcelReport();" class="d-sm-inline-block btn btn-sm btn-success shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generar
        Excel
        </a> *@
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Propiedades
                    </h6>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-center"
                               id="dataTable"
                               width="100%"
                               cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Codigo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Dimensiones)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Alicuota)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Solvencia)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Saldo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Deuda)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MontoIntereses)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MontoMulta)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Creditos)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdCondominioNavigation)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Codigo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Dimensiones)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Alicuota)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Solvencia)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Saldo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Deuda)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MontoIntereses)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MontoMulta)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Creditos)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdCondominioNavigation.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Email)
                                        </td>
                                        <td>
                                            <a asp-action="VerGrupos" asp-route-id="@item.IdPropiedad">Ver Grupos</a> |
                                            <a asp-action="EstadoCuentaPropiedad" asp-route-id="@item.IdPropiedad">Estado de Cuenta</a> |
                                            <a asp-action="Edit" asp-route-id="@item.IdPropiedad">Editar</a> |
                                            <a asp-action="Details" asp-route-id="@item.IdPropiedad">Detalles</a> |
                                            <a asp-action="Delete" asp-route-id="@item.IdPropiedad">Eliminar</a> 
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

