@model Prueba.Models.PropiedadesGrupo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";

}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">

            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Propiedades Grupos
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Alicuota)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Alicuota)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IdGrupoGastoNavigation)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IdGrupoGastoNavigation.IdGrupoGasto)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IdPropiedadNavigation)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IdPropiedadNavigation.IdPropiedad)
                                </dd>
                            </dl>
                            <div class="col-md-12">
                                <a asp-action="Edit" asp-route-id="@Model?.IdPropiedadGrupo" class="btn btn-primary">Editar</a>
                                <a asp-action="Index" class="btn btn-secondary">Volver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>