@model IEnumerable<Prueba.Models.PropiedadesGrupo>

@{
    ViewData["Title"] = "Index";
// <<<<<<< HEAD
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alicuota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGrupoGastoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPropiedadNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alicuota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGrupoGastoNavigation.IdGrupoGasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPropiedadNavigation.IdPropiedad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPropiedadGrupo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPropiedadGrupo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPropiedadGrupo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
=======
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";

}


<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a class="btn btn-light mb-3" asp-controller="PropiedadesGrupos"
           asp-action="Create">
            Registrar
        </a>
    </div>
    <div class="d-sm-flex align-items-center justify-content-around mb-4">
        @*         <a type="button" id="create_pdf" value="Generate PDF" href="#" class="d-sm-inline-block btn btn-sm btn-danger shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generar
        PDF
        </a> *@
        @* <button type="button" class="d-sm-inline-block btn btn-sm btn-danger shadow-sm" id="PagosEmitidos">Crear pdf</button> *@

        @* <a value="Export" onclick="fnExcelReport();" class="d-sm-inline-block btn btn-sm btn-success shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generar
        Excel
        </a> *@
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Propiedades Grupos
                    </h6>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-center"
                               id="dataTable"
                               width="100%"
                               cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Alicuota)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdGrupoGastoNavigation)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdPropiedadNavigation)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Alicuota)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdGrupoGastoNavigation.IdGrupoGasto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdPropiedadNavigation.IdPropiedad)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.IdPropiedadGrupo">Editar</a> |
                                            <a asp-action="Details" asp-route-id="@item.IdPropiedadGrupo">Detalles</a> |
                                            <a asp-action="Delete" asp-route-id="@item.IdPropiedadGrupo">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
          
>>>>>>> DevAdminstradoras
