@model Prueba.Models.Transaccion

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Transacciones
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="card-body">
                                        <h6>Are you sure you want to delete this?</h6>
                                        <hr />
                                        <dl class="row">
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.TipoTransaccion)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.TipoTransaccion)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Descripcion)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.Descripcion)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Documento)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.Documento)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.MontoTotal)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.MontoTotal)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Cancelado)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.Cancelado)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.FormaPago)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.FormaPago)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.NumDocumento)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.NumDocumento)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.IdCodCuentaBancoNavigation)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.IdCodCuentaBancoNavigation.IdCodCuenta)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.IdCodCuentaNavigation)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.IdCodCuentaNavigation.IdCodCuenta)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.IdGrupoGastoNavigation)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.IdGrupoGastoNavigation.IdGrupoGasto)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.IdPropiedadNavigation)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.IdPropiedadNavigation.IdPropiedad)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.IdProveedorNavigation)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.IdProveedorNavigation.IdProveedor)
                                            </dd>
                                        </dl>
                                        <form asp-action="Delete">
                                            <input type="hidden" asp-for="IdTransaccion" />
                                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                                            <a asp-action="Index" class="btn btn-secondary">Volver</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>