@model Prueba.Models.Transaccion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">

            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Transacciones
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.TipoTransaccion)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.TipoTransaccion)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Fecha)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Fecha)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Descripcion)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Descripcion)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Documento)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Documento)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.MontoTotal)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.MontoTotal)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Cancelado)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Cancelado)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.SimboloMoneda)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.SimboloMoneda)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.SimboloRef)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.SimboloRef)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ValorDolar)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ValorDolar)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.MontoRef)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.MontoRef)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IdCodCuentaNavigation)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IdCodCuentaNavigation.IdCodCuenta)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IdPropiedadNavigation)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IdPropiedadNavigation.IdPropiedad)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IdProveedorNavigation)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IdProveedorNavigation.IdProveedor)
                                </dd>
                            </dl>
                            <div class="col-md-12">
                                <a asp-action="Edit" asp-route-id="@Model?.IdTransaccion" class="btn btn-primary">Editar</a>
                                <a asp-action="Index" class="btn btn-secondary">Volver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
