@model IEnumerable<Prueba.Models.LibroVenta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";

}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a class="btn btn-light mb-3" asp-controller="LibroVentas"
           asp-action="Create">
            Registrar
        </a>
        <a class="btn btn-light mb-3" asp-controller="ComprobanteRetencionClientes"
           asp-action="Index">
            Comprobantes Retencion I.S.L.R.
        </a>
    </div>
    <div class="d-sm-flex align-items-center justify-content-around mb-4">
        <button id="create_pdf" value="Generate PDF" class="d-sm-inline-block btn btn-sm btn-danger shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generar
            PDF
        </button>
        @* <button type="button" class="d-sm-inline-block btn btn-sm btn-danger shadow-sm" id="PagosEmitidos">Crear pdf</button> *@

        @* <a value="Export" onclick="fnExcelReport();" class="d-sm-inline-block btn btn-sm btn-success shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generar
        Excel
        </a> *@
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Libro de Ventas
                    </h6>
                    <partial name="_FiltrarFecha" model="@(new Prueba.ViewModels.FiltrarFechaVM())" />

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-center"
                               id="dataTable"
                               width="100%"
                               cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BaseImponible)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Iva)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Total)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RetIva)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RetIslr)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Monto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NumComprobanteRet)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FormaPago)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdCondominioNavigation)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdFacturaNavigation)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BaseImponible)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Iva)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Total)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RetIva)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RetIslr)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Monto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumComprobanteRet)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FormaPago)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdCondominioNavigation.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdFacturaNavigation.NumFactura)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                            <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#create_pdf").click(function () {
            var datos = @Html.Raw(Json.Serialize(Model));
            $.ajax({
                url: '/LibroVentas/LibroPDF',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(datos),
                success: function (result) {
                    var binaryData = atob(result);
                    var arrayBuffer = new ArrayBuffer(binaryData.length);
                    var uint8Array = new Uint8Array(arrayBuffer);

                    for (var i = 0; i < binaryData.length; i++) {
                        uint8Array[i] = binaryData.charCodeAt(i);
                    }

                    var blob = new Blob([uint8Array], { type: 'application/pdf' });
                    var url = URL.createObjectURL(blob);
                    var a = document.createElement('a');

                    a.style.display = 'none';
                    a.href = url;
                    a.download = 'Comprobante.pdf';
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                    // console.log("Exito")
                },
                error: function () {
                    alert('Error al descargar detalle del recibo');
                }
            });
        });
    });

</script>