@model Prueba.Models.CuotasEspeciale
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Detalles de Cuotas Especiales
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-6">
                                    <dt>Nombre de la cuota especial</dt>
                                    <dd> @Model.Descripcion</dd>
                                </div>
                                <div class="col-6">
                                    <dt>Fecha de creación</dt>
                                    <dd>@Model.FechaInicio.ToString("dd/MM/yyyy")   </dd>
                                </div>
                                <div class="col-6">
                                    <dt>Cantidad de Cuotas</dt>
                                    <dd>@Model.CantidadCuotas</dd>
                                </div>
                                <div class="col-6">
                                    <dt>Monto Total</dt>
                                    <dd>@string.Format("{0:N2}", Model.MontoTotal) @Model.SimboloMoneda </dd>
                                </div>
                                <form asp-action="Borrar" class="col-12">
                                    <input type="hidden" asp-for="IdCuotaEspecial" />
                                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                                    <a asp-action="Index" class="btn btn-secondary">Volver</a>
                                </form>
@*                                 <div class="col-3">
                                    <a asp-action="Borrar" class="btn btn-danger">Borrar</a>
                                </div>  <div class="col-3">
                                    <a asp-action="Index" class="btn btn-secondary">Volver</a>
                                </div> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
