@model Prueba.ViewModels.ItemConciliacionVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
    var saldo = Model.ConciliacionAnterior != null ? Model.ConciliacionAnterior.SaldoFinal : 0;
}

<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        @* <a class="btn btn-light mb-3" id="conciliar">
            Conciliar @(Model.SubCuenta != null ? Model.SubCuenta.Descricion : "")
        </a> *@
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Conciliación Bancaria
                    </h6>
                    <partial name="_FiltroBanco" model="@(new Prueba.ViewModels.FiltroBancoVM(){ FechaFin = Model.FechaFin, FechaInicio = Model.FechaInicio})" />

                    <div class="tr_s">
                        <h6 class="m-0 font-weight-bold text-primary">Saldo Inicial: @saldo</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        
                        <form asp-action="ConfirmarConciliacion">
                            
                            <table class="table text-center"
                                   id="dataTable"
                                   width="100%"
                                   cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>
                                            Fecha
                                        </th>
                                        <th>
                                            Concepto
                                        </th>
                                        <th>
                                            Ingreso
                                        </th>
                                        <th>
                                            Egreso
                                        </th>
                                        <th>
                                            Saldo
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    @foreach (var item in Model.PagosRecibidosIds)
                                    {
                                        var pago = Model.PagosRecibidos.FirstOrDefault(c => c.IdPagoRecibido == Convert.ToInt32(item.Value));

                                        @if (pago != null)
                                        {
                                            <tr>
                                                <td>
                                                    @pago.Fecha.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @pago.Concepto
                                                </td>
                                                <td>
                                                    @pago.Monto.ToString("N")
                                                </td>
                                                <td></td>
                                                <td>
                                                    @((saldo += pago.Monto).ToString("N"))
                                                </td>
                                                <td>
                                                    @Html.CheckBoxFor(c => item.Selected)
                                                    @Html.HiddenFor(h => item.Value)
                                                </td>
                                            </tr>
                                        }
                                    }

                                    @foreach (var item in Model.PagosEmitidosIds)
                                    {
                                        var pago = Model.PagosEmitidos.FirstOrDefault(c => c.IdPagoEmitido == Convert.ToInt32(item.Value));

                                        @if (pago != null)
                                        {
                                            <tr>
                                                <td>
                                                    @pago.Fecha.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @pago.Concepto
                                                </td>
                                                <td></td>
                                                <td>
                                                    @pago.Monto.ToString("N")
                                                </td>
                                                <td>
                                                    @((saldo += pago.Monto).ToString("N"))
                                                </td>
                                                <td>
                                                    @Html.CheckBoxFor(c => item.Selected)
                                                    @Html.HiddenFor(h => item.Value)
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>  
                            
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit"
                                        class="btn btn-primary me-1 mb-1">
                                    Conciliar @(Model.SubCuenta != null ? Model.SubCuenta.Descricion : "")
                                </button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
