@model Prueba.ViewModels.ItemConciliacionVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
    var saldo = Model.ConciliacionAnterior != null ? Model.ConciliacionAnterior.SaldoFinal : 0;
}

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- DataTales Example -->
            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Conciliación Bancaria
                    </h6>
                    @if (@ViewBag.FormaPago == "fallido")
                    {
                        <div class="form-group text-danger">
                            <span>@ViewBag.Mensaje</span>
                        </div>
                    }
                    
                    <partial name="_FiltroBanco" model="@(new Prueba.ViewModels.FiltroBancoVM(){ FechaFin = Model.FechaFin, FechaInicio = Model.FechaInicio})" />

                    <div class="tr_s">
                        <strong>SELECCIONAR TODOS</strong> <input type="checkbox" id="selectAll" onchange="toggleAll()" />
                    </div>
                </div>
                <form asp-action="ConfirmarConciliacion">
                    <input type="hidden" asp-for="IdCodigoCuenta" />
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table text-center"
                                   
                                   width="100%"
                                   cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>
                                            Fecha
                                        </th>
                                        <th>
                                            Concepto
                                        </th>
                                        <th>
                                            Ingreso
                                        </th>
                                        <th>
                                            Egreso
                                        </th>
                                        <th>
                                            Saldo
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @for (int i = 0; i < @Model.PagosIds.Count(); i++)
                                    {
                                        var pago = Model.Pagos.FirstOrDefault(c => c.Id == Convert.ToInt32(Model.PagosIds[i].Value));

                                        @if (pago != null)
                                        {
                                            <tr>
                                                <td>
                                                    @pago.Fecha.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @pago.Concepto
                                                </td>
                                                @if (pago.TipoOperacion)
                                                {
                                                    <td>
                                                        @pago.Monto.ToString("N")
                                                    </td>
                                                    <td></td>

                                                    <td>
                                                        @((saldo += pago.Monto).ToString("N"))
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td></td>

                                                    <td>
                                                        @pago.Monto.ToString("N")
                                                    </td>
                                                    <td>
                                                        @((saldo -= pago.Monto).ToString("N"))
                                                    </td>
                                                }

                                                <td>
                                                    @Html.CheckBoxFor(c => Model.PagosIds[i].Selected, new { @class = "itemCheckbox" })
                                                    @Html.HiddenFor(h => Model.PagosIds[i].Value)
                                                    @Html.HiddenFor(h => Model.PagosIds[i].Text)

                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        @* <a class="btn btn-light mb-3" id="conciliar">
                        Conciliar @(Model.SubCuenta != null ? Model.SubCuenta.Descricion : "")
                        </a> *@
                        <div class="col-12 d-flex justify-content-end">
                            <button type="submit"
                                    class="btn btn-light mb-3">
                                Conciliar @(Model.SubCuenta != null ? Model.SubCuenta.Descricion : "")
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script>
    function toggleAll() {
        const checkboxes = document.querySelectorAll('.itemCheckbox');
        const selectAll = document.getElementById('selectAll');

        checkboxes.forEach(checkbox => {
            checkbox.checked = selectAll.checked;
        });
    }
</script>
