@model Prueba.Models.PagoEmitido

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">

            <div class="card shadow mb-4 bg-content-bg">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Pagos Emitidos
                    </h6>
                </div>
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        @Html.DisplayNameFor(model => model.IdProveedor)
                                    </div>
                                    <div class="form-group">
                                        @Html.DisplayFor(model => model.IdProveedor)
                                    </div>
                                </div>*@
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.DisplayNameFor(model => model.Fecha)
                                    </div>
                                    <div class="form-group">
                                        @Html.DisplayFor(model => model.Fecha)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.DisplayNameFor(model => model.Monto)
                                    </div>
                                    <div class="form-group">
                                        @Html.DisplayFor(model => model.Monto)
                                        @Html.DisplayFor(model => model.SimboloMoneda)

                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        @Html.DisplayNameFor(model => model.SimboloMoneda)
                                    </div>
                                    <div class="form-group">
                                    </div>
                                </div>*@
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.DisplayNameFor(model => model.ValorDolar)
                                    </div>
                                    <div class="form-group">
                                        @Html.DisplayFor(model => model.ValorDolar)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.DisplayNameFor(model => model.MontoRef)
                                    </div>
                                    <div class="form-group">
                                        @Html.DisplayFor(model => model.MontoRef) 
                                        @Html.DisplayFor(model => model.SimboloRef)

                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        @Html.DisplayNameFor(model => model.SimboloRef)
                                    </div>
                                    <div class="form-group">
                                    </div>
                                </div>*@
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.DisplayNameFor(model => model.FormaPago)
                                    </div>
                                    <div class="form-group">
                                        @Html.DisplayFor(model => model.FormaPago)
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        @Html.DisplayNameFor(model => model.IdCondominioNavigation)
                                    </div>
                                    <div class="form-group">
                                        @Html.DisplayFor(model => model.IdCondominioNavigation.IdCondominio)
                                    </div>
                                </div>*@

                                <div class="col-md-12">
                                    <a asp-action="Edit" asp-route-id="@Model?.IdPagoEmitido" class="btn btn-primary">Editar</a>
                                    <a asp-action="Index" class="btn btn-secondary">Volver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
